<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A User has many venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Venues
      </li>

      <% @user.venues.each do |venue| %>
        <li class="list-group-item">
          <a href="/venues/<%= venue.id %>">
            <%= venue.dishesyoulove %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/venues/<%= venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/venues/<%= venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_venue/<%= venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many dishes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Dishes
      </li>

      <% @user.dishes.each do |dish| %>
        <li class="list-group-item">
          <a href="/dishes/<%= dish.id %>">
            <%= dish.time_of_day %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/dishes/<%= dish.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/dishes/<%= dish.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_dish/<%= dish.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many bookmarked_dishses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarked Dishses
      </li>

      <% @user.bookmarked_dishses.each do |bookmarked_dishse| %>
        <li class="list-group-item">
          <a href="/bookmarked_dishses/<%= bookmarked_dishse.id %>">
            <%= bookmarked_dishse.venues_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarked_dishses/<%= bookmarked_dishse.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarked_dishses/<%= bookmarked_dishse.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmarked_dishse/<%= bookmarked_dishse.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
