<div class="page-header">
  <h3>Dish #<%= @dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Time of day</dt>
      <dd><%= @dish.time_of_day %></dd>

      <dt>Cuisine</dt>
      <dd><%= @dish.cuisine %></dd>

      <dt>Populardishes</dt>
      <dd><%= @dish.populardishes %></dd>

      <dt>Venues</dt>
      <dd><%= @dish.venues_id %></dd>

      <dt>User</dt>
      <dd>
        <% if @dish.user.present? %>
          <a href="/users/<%= @dish.user_id %>">
            <%= @dish.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Bookmarked dishes</dt>
      <dd>
        <% if @dish.bookmarked_dishes.present? %>
          <a href="/bookmarked_dishses/<%= @dish.bookmarked_dishes_id %>">
            <%= @dish.bookmarked_dishes.venues_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dishes" class="btn btn-primary">
        Back
      </a>
      <a href="/dishes/<%= @dish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish/<%= @dish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Dish has many venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Venues
      </li>

      <% @dish.venues.each do |venue| %>
        <li class="list-group-item">
          <a href="/venues/<%= venue.id %>">
            <%= venue.dishesyoulove %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/venues/<%= venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/venues/<%= venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_venue/<%= venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_venue" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dishesyoulove -->
      <div class="form-group">
        <label for="dishesyoulove" class="control-label">
          Dishesyoulove
        </label>

        <input type="text" id="dishesyoulove" name="dishesyoulove" placeholder="Dishesyoulove" class="form-control" value="">
      </div>

      <!-- Label and input for populardishes -->
      <div class="form-group">
        <label for="populardishes" class="control-label">
          Populardishes
        </label>

        <input type="text" id="populardishes" name="populardishes" placeholder="Populardishes" class="form-control" value="">
      </div>

      <!-- Label and input for neighborhood -->
      <div class="form-group">
        <label for="neighborhood" class="control-label">
          Neighborhood
        </label>

        <input type="text" id="neighborhood" name="neighborhood" placeholder="Neighborhood" class="form-control" value="">
      </div>

      <!-- Label and input for dishes_id -->
      <div class="form-group">
        <label for="dishes_id" class="control-label">
          Dishes
        </label>

        <%= select_tag(:dishes_id, options_from_collection_for_select(Dish.all, :id, :time_of_day), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Venue
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
