<div class="page-header">
  <h1>
    Bookmarked dishses
    <a href="/bookmarked_dishses/new" class="btn btn-lg btn-success">New Bookmarked dishse</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Venues</th>
        <th>Users</th>
        <th>Actions</th>
      </tr>

      <% @bookmarked_dishses.each do |bookmarked_dishse| %>
      <tr>
        <td><%= bookmarked_dishse.venues.dishesyoulove %></td>
        <td><%= bookmarked_dishse.users.created_at %></td>
        <td>
          <a href="/bookmarked_dishses/<%= bookmarked_dishse.id %>" class="btn btn-primary">Show</a>
          <a href="/bookmarked_dishses/<%= bookmarked_dishse.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_bookmarked_dishse/<%= bookmarked_dishse.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
